
<div class="nav">
  <ul>
    <li>
      <a href="https://www.facebook.com/Challenger-Photography-1034993796630465/">
        FACEBOOK!
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/billy_challenger/">
        Instagram
      </a>
    </li>
    <li>
      <a href="https://twitter.com/challenger232">
        Twitter
      </a>
    </li>
  </ul>
</div>

<figure class="full-width">
  <img src="http://adventureblog.nationalgeographic.com/files/2015/08/meru-climbing-jimmy-chin.jpg"alt="">
</figure>

<div class="sidebar">
  <ul>
    <li>
      <a href="/wildlife">
        Wildlife
        <img class="img wildlife-img" src="http://i.imgur.com/8Zb0WmI.jpg">
      </a>
    </li>
    <li>
      <a href="/climbing">
        Climbing
        <img class="img climbing-img" src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/14289991_1279444222089015_8556297830936312951_o.jpg?oh=a5f8d86868dfa355c5cf937910ce7cb7&oe=5915286D">
      </a>
    </li>
    <li>
      <a href="/lifestyle">
        Lifestyle
        <img class="img lifestyle-img" src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/16178449_1426066897426746_6223645135899898924_o.jpg?oh=ab2106edd82e303ce9652d1480dda194&oe=5948A3F0">
      </a>
    </li>
    <li>
      <a href="/about">
        Behind the Lens
        <img class="img About-img" src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/16179214_1426066894093413_8758459064264628068_o.jpg?oh=60985f3d1068d67712078a17c0842b3b&oe=591DED61">
      </a>
    </li>
  </ul>
</div>
