<figure class="full-width">
  <img src="http://i.imgur.com/8Zb0WmI.jpg"alt="">
</figure>
<div class="image-divider"></div>
<figure class="full-width">
  <img src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/14289991_1279444222089015_8556297830936312951_o.jpg?oh=a5f8d86868dfa355c5cf937910ce7cb7&oe=5915286D"alt="">
</figure>
<div class="image-divider"></div>
<figure class="full-width">
  <img src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/16178449_1426066897426746_6223645135899898924_o.jpg?oh=ab2106edd82e303ce9652d1480dda194&oe=5948A3F0"alt="">
</figure>

