<div id="bg">
  <img src="http://adventureblog.nationalgeographic.com/files/2015/08/meru-climbing-jimmy-chin.jpg"alt="">
</div>

<div class="nav">
  <ul>
    <li>
      <a href="https://www.facebook.com/Challenger-Photography-1034993796630465/">
        Facebook
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/billy_challenger/">
        Instagram
      </a>
    </li>
    <li>
      <a href="https://twitter.com/challenger232">
        Twitter
      </a>
    </li>
  </ul>
</div>

<div class="sidebar">
  <ul>
    <li>
      <a href="/wildlife">
        Wildlife
      </a>
    </li>
    <li>
      <a href="/climbing">
        Climbing
      </a>
    </li>
    <li>
      <a href="/lifestyle">
        Lifestyle
      </a>
    </li>
    <li>
      <a href="/about">
        Behind the Lens
      </a>
    </li>
  </ul>
</div>
