$nav-color: #ECEFF1;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white  ;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-left: auto;
  margin-right: auto;
}


#bg {
  /*position: fixed;*/
  width: 1000px;
  height: 1000px;
  z-index: -1;
}

.sidebar {
  ul {
    list-style-type: none;
    margin: 0;
  }
}

.img {
  width: 80px;
  height: 70px;
  padding: 5px;
}

figure {
  margin: 0;
}

.full-width {
  /*margin-top: 10px;*/
  width: 100vw;
  height: 600px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  img {
    max-width: 100%;
  }
}


img {
  width: 100%;
  height: 100%;
}

.nav-contents {
  position: relative;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 5px;
  background-color: $nav-color;
  color: white;

  span {
    margin-top: 10px;
  }

  li {
    padding: 5px;
    display: inline;
  }

  .right {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    /*width:50%;*/
  }

  .left {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    color: black;
    /*width: 50%;*/
    margin-right: 0px;
  }

  a {
    text-decoration: none;
  }

  .img {
    width: 35px;
    height: 35px;
    padding: 5px;
  }
}

.left-nav {
  float: left;
  width: 400px;
  /*display: inline;*/
}
.right-nav {
  /*position: absolute;*/
  float: right;
  right: 0;
  width: 650px;
  /*display: inline;*/
}

.image-divider {
  background-color: $nav-color;
  height: 15px;
}
