<!DOCTYPE html>
<html>
  <head>
    <title>ChallengerPhotography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <div class="nav-contents">
        <div class="left-nav"
          <ul class="left">
            <li>
              <a href="/">Home
                 <img class="img twitter-img" src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/home-512.png">
               </a>
            </li>
            <li>
              <a href="/about">
                Behind the Lens
                <img class="img twitter-img" src="https://scontent.ford1-1.fna.fbcdn.net/v/t31.0-8/16179214_1426066894093413_8758459064264628068_o.jpg?oh=60985f3d1068d67712078a17c0842b3b&oe=591DED61">
              </a>
            </li>
          </ul>
        </div>
        <div class="right-nav">
          <ul class="right">
            <li>
              <a href="https://www.facebook.com/Challenger-Photography-1034993796630465/">
                <span class="nav-title">Facebook</span>
                <img class="img twitter-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1024px-F_icon.svg.png">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/billy_challenger/">
                <span class="nav-title">Instagram</span>
                <img class="img twitter-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2000px-Instagram_logo_2016.svg.png">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/challenger232">
                <span class="nav-title">Twitter</span>
                <img class="img twitter-img" src="https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
